@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

html {
    background-color: #111;
}
h1 {
    color: white;
    size: 10rem;
    text-align: center;
}
button {
    padding: 25px;
    margin: 5%;
}

#speak {
margin-left: 42%;
}