@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */
/* body{
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font: bold 6em Candara, serif;
    font-size: 6em;
    background: rgb(0, 0, 0);
    margin: 7% auto;
    color: rgb(243, 49, 0);
}
#spkButton {
    display: block;
    border: 10px solid;
    -webkit-animation: blink 4s;
    -webkit-animation-iteration-count: infinite;
    animation: blink 4s;
    animation-iteration-count: infinite;
}
.sentence {
    width: 600px;
    margin: 0 auto;
}
.btn{
    padding: 2%;
    border-radius: 50%;
}

/* style the button */

/* Safari  */ /*
@-webkit-keyframes blink {
    0%   {border-color:red;}
    25%  {border-color:yellow;}
    50%  {border-color:blue;}
    75%  {border-color:green;}
    100% {border-color:red;}
}
  
/* Standard */ /*
@keyframes blink {
    0%   {border-color:red;}
    25%  {border-color:yellow;}
    50%  {border-color:blue;}
    75%  {border-color:green;}
    100% {border-color:red;}
} */
html,
body {
  height: 100%;
  font-family: muli;
  background: #ffff99;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "header header"
    "display buttons";
}
h1 {
  grid-area: header;
  text-align: center;
}
.display {
  grid-area: display;
  padding: 10px;
  height: 100%;
}
img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.buttons {
  grid-area: buttons;
  padding: 3em;
  font-size: 20px;
}
.buttons > * {
  margin: 2em 1em;
  text-align: center;
}
#result  {
  border-left: 5px solid red;
  background: lightgray;
  padding: 1em;
  text-align: left;
  min-height: 30px;
  font-family: pacifico;
  /* font-size: 1.3em; */
}
#autoGen {
  display: block;
  margin: 0 auto;
}
